.component {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.fillHeight{
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 30px 10px;
}


.list {
    overflow-y: scroll;
    max-height: 80vh;
    height: 100%;

}

.logEntry {
    display: flex;
    padding: 5px;
    align-items: center;
}

.logEntry h5 {
    margin: 0 10px;
}

.dateSpan {
    min-width: max(15%, 200px);
    max-width: max(15%, 200px);
    text-align: center;
    background: var(--gray);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 5px;
}

.logTypeSpan {
    min-width: max(10%, 100px);
    max-width: max(10%, 100px);
    text-align: center;
    background: var(--gray);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 5px;
}

.messageSpan {
    flex-grow: 1;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.sink{
    background-color: var(--green);
}
.propagator{
    background-color: var(--blue);
}
.entryPoint{
    background-color: var(--red);

}
.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}