.component{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh !important;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:300px;
}
.field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.fieldInput{
    width: 60%;
    margin: 0 0 0 20px;
}

.loginButton{
    width: 60%;

}

.error{
    margin-top: 10px;
}

