.component{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh !important;
}
.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height:300px;
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.fieldInput{
    width: 60%;
    margin: 0 0 0 20px;
}

.loginButton{
    width: 60%;

}

.error{
    margin-top: 10px;
}

