.content{
    padding: 40px;
}

.amount{
    margin-top: 30px;
}
.amount_plus{
    color: forestgreen;
}
.amount_minus{
    color: darkred;
}

.loadingContainer{
    min-width: 400px ;
}
.userName{
    text-transform: capitalize;
}
