.component{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index:10;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
}
.buttonsContainer *{
    margin: 2px 0;
    width:100%
}
