.component{
    height:60px;
    /*display:flex;*/
    width:100%;


}

.logoText{
    color:var(--color-logo);
}
.buttons{
    height:100%
}
.buttons, .buttons:visited, .buttons:active{
    color:white;
}
.selected{
    color:deepskyblue;
}