.component{
    box-sizing: border-box;
}

.contentContainer{
    min-height: 250px;
    max-height: 250px;
}
.contentCard{
    padding: 40px;
    width: max(200px,40vw);

}

.form{
    height: 100%;
}
.depositButton{
    width: 100%;
}

.popup{
    margin-top: 30px;
    text-transform: capitalize;
}
.depositIcon{
    width:80px;
    height:80px;
    margin-bottom: 20px;
}