.component{
    height:60px;

    width:100%;


}
.logoText{
    color:var(--color-logo);
}

.button{
    height:100%;
    cursor: pointer;
}
.button, .button:visited, .button:active{
    color:white;
}

.button--selected{
    color:deepskyblue;
}
