
.App, html, body, div[id="root"] {
  text-align: center;
  height: 100vh;
  padding:0;
  margin:0;
}


.noOpacity{
  opacity: 0;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
}