.component{
    box-sizing: border-box;
}


.contentCard{
    padding: 40px;
    width: max(200px,40vw);
    min-height: 300px;
    max-height: 300px;
}

.form{
    height: 100%;
}
.depositButton{
    width: 100%;
}

.dollar{
    margin: 0 5px;
}
