.component{
    background-color: white;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding:15px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 10px;
}
