.content{
    padding: 40px;
}

.amount{
    margin-top: 30px;
}
.amount_plus{
    color: forestgreen;
}
.amount_minus{
    color: darkred;
}

.icon{
    width:80px;
    height:80px;
    margin-bottom: 20px;
}