.component {
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    background-color: var(--color-background);

}
.content{
    z-index: 5;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-height: 100vh;
}
.backgroundImg{
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;

    top:0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 1;

    opacity: .6;
}
